{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-prettier",
		"prettier"
	],
	"rules": {
		"no-console": 1,
		"@typescript-eslint/ban-types": [
			"error",
			{
				"extendDefaults": true,
				"types": {
					"{}": false
				}
			}
		],
		"prettier/prettier": [
			"warn",
			{
				"arrowParens": "always",
				"semi": true,
				"trailingComma": "none",
				"tabWidth": 4,
				"endOfLine": "auto",
				"useTabs": true,
				"singleQuote": true,
				"printWidth": 120,
				"bracketSpacing": true
			}
		]
	}
}
